<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>TO DO LIST</h1>
    <form action="/" method="POST">
      <input type="text" name="item" placeholder="Add a task..." value="">
      <input type="submit" value="add">
    </form>
    <h3>TO BE DONE</h3>
    <ul id="todo">
      {{#todos}}
      <li>
        <form action="/{{id}}" method="POST">
          <input type="submit" value="mark complete"/>
          <span>{{text}}</span>
        </form>
      </li>
      {{/todos}}
    </ul>
    <h3>DONE</h3>
    <ul id="done">
      {{#done}}
      <li>{{text}}</li>
      {{/done}}

    </ul>
  </body>
</html>
